/* About Us Section */
.aboutUs {
    padding: 80px 20px;
    color: #302f2f;
    text-align: center;
    position: relative;
  }
  
  .contentWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  
  .textContent {
    flex: 1;
    max-width: 600px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  }
  
  .heading {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .paragraph {
    font-size: 1.1rem;
    margin-bottom: 20px;
    line-height: 1.6;
    color: #302f2f;
  }
  
  .mission {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 2px solid #454343;
  }
  
  .subHeading {
    font-size: 1.8rem;
    color: #0d0d0d;
    margin-bottom: 15px;
  }
  
  .missionText {
    font-size: 1rem;
    color: #565656;
    line-height: 1.6;
  }
  
  /* Image Section */
  .imageWrapper {
    flex: 1;
    max-width: 500px;
    position: relative;
  }
  
  .teamImage {
    width: 100%;
    height: auto;
    border-radius: 12px;
    transition: transform 0.3s ease;
  }
  
  .teamImage:hover {
    transform: scale(1.05);
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .contentWrapper {
      flex-direction: column;
      text-align: center;
    }
  
    .textContent {
      max-width: 100%;
    }
  
    .imageWrapper {
      margin-top: 20px;
    }
  }
  