/* Navbar.module.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  }
  
  .navLinks {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    transition: transform 0.3s ease;
  }
  
  .navLinks li a {
    color: #333;
    font-size: 1rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
  }
  
  .navLinks li a:hover {
    color: #20c7ac;
  }
  
  .contactLink {
    color: #20c7ac;
    font-weight: bold;
  }
  
  .hamburger {
    display: none;
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
    top: 1rem; /* Adjust to align vertically */
    right: 0.5rem;
    z-index: 1001; /* Ensure it appears above the menu */
  }
  
  /* Responsive Styling */
  @media (max-width: 768px) {
    .navLinks {
      position: fixed;
      top: 0;
      right: 0rem;
      height: 100vh;
      width: 70%;
      max-width: 250px;
      background-color: #ffffff;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: translateX(100%);
      box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
      z-index: 999;
      padding-top: 0rem; /* Avoid overlap with close icon */
    }
  
    .navLinks.open {
      transform: translateX(0);
    }
  
    .hamburger {
      display: block;
      margin-left: 7.2rem !important;
      color:#20c7ac
    }
  
    .navLinks li {
      margin: 1rem 0;
    }
  
    .contactLink {
      color: #20c7ac;
    }
  }
  